<ion-footer mode="md" class="main-footer">
  <ion-grid>
    <ion-row class="text-center">
      <ion-col ion-activatable routerLink="/folder/Profile" (click)="pathChange('/folder/Profile')" [ngClass]="{'active-tab': path=='/folder/Profile'}">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-icon name="person">
        </ion-icon>
        <p>profile</p>
      </ion-col>
      <ion-col ion-activatable routerLink="/folder/Inbox" (click)="pathChange('/folder/Inbox')"  [ngClass]="{'active-tab': path=='/folder/Inbox'}">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-icon name="chatbubble">
        </ion-icon>
        <p>Inbox</p>
      </ion-col>
      <ion-col ion-activatable (click)="logout()" [ngClass]="{'active-tab': path=='folder/logout'}">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-icon name="log-in">
        </ion-icon>
        <p>Logout</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>