<ion-content>
  <div class="login-content">
    <div>
      <img class="background-img" src="assets/images/login-background.jpg" alt="">
    </div>
    <ion-card class="center-card">
      <ion-text>
        <h4 style="text-align: center;">Register to Social App</h4>
      </ion-text>
      <form [formGroup]='registerForm'>
        <ion-item lines="full">
          <ion-label position="floating">User Name</ion-label>
          <ion-input type="text" formControlName='userName'></ion-input>
        </ion-item>
        <ion-text class="ion-text-right" color="danger" *ngIf="isSubmitted &&f.userName.errors &&f.userName.errors.required">
          <div>User Name required.</div>
        </ion-text>
        <ion-item lines="full">
          <ion-label position="floating">Email</ion-label>
          <ion-input type="text" formControlName='email'></ion-input>
        </ion-item>
        <ion-text class="ion-text-right" color="danger" *ngIf="isSubmitted &&f.email.errors &&f.email.errors.required">
          <div>email required.</div>
        </ion-text>
        <ion-item lines="full">
          <ion-label position="floating">Password</ion-label>
          <ion-input type="text" formControlName='password'></ion-input>
        </ion-item>
        <ion-text class="ion-text-right" color="danger"
          *ngIf="registerForm.get('password').hasError('required') && (registerForm.get('password').dirty)">
          <div>Password required.</div>
        </ion-text>
        <ion-item lines="full">
          <ion-label position="floating">Confirm-Password</ion-label>
          <ion-input type="text" formControlName='confirmPassword'></ion-input>
        </ion-item>
        <ion-text class="ion-text-right" color="danger"
          *ngIf="!registerForm.get('confirmPassword').hasError('confirmPassword required') && registerForm.hasError('passwordNotMatch') && (registerForm.get('confirmPassword').dirty || registerForm.get('confirmPassword').touched)">
          <div>Password and confirm password should match.</div>
        </ion-text>
        <ion-row>
          <ion-col>
            <ion-button type="submit" color="success" expand="block" (click)="onSubmit()">Sign Up</ion-button>
          </ion-col>
        </ion-row>
        <br />
        <ion-text color='primary'>
          Already registered?
        </ion-text>
        <ion-row>
          <ion-col>
            <ion-button type="submit" color="primary" expand="block" routerLink='/login'>Login</ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-card>
  </div>
</ion-content>